body{
    margin: 0;
}
/* ------------header aria start-------------------- */
.negver{
    width: 90%;
    margin: auto;
    margin-top: 50px;

}
.header {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.new-2 a{
    text-decoration: none;
    margin-right: 20px;
    color: gray;
    font-weight: 700;
}
.new-2 a>i{
    color: #c3c5c8;
    font-size: 20px;
}
.main{
    display: flex;
    justify-content: space-between;
}
.text-aria{
    width: 50%;
    padding-top: 30px;
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.text-aria h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
}
.text-aria button{
    background-color: rgb(224, 44, 109);
    padding: 8px 25px;
    border-radius: 15px;
    color: white;
    border: 0;
}
.text-aria button i{
    color: white;
    margin-left: 5px;
}
.new-2 {
    margin-top: 20px;
}
.add-logo {
    text-align: center;
}
.add-logo img {
    margin: 25px 30px;
}
.logo-photo hr{
    color: rgba(19, 41, 63, 0.356);
}
.logo-photo{
    margin-top: 80px;
}
/*------------------------- header aria end ------------------------ */
/*--------------- main aria start-------------- */
.main-aria h1{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    font-family: 'Inter';
    border-radius: 5px;
}
.contaner {
    padding: 10px;
}
.contant-text h2 {
    font-size: 30px;
}
.contant-text {
    padding: 10px;
}
.prize {
    font-size: 24px;
}
.fa-star.filled{
    color: orange;
}
.fa-star.empty{
    color: gray;
}
.fa-star {
    font-size: 12px;
}
.main-website{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.button-text button {
    padding: 10px 20px;
    position: absolute;
    right: 5px;
}
.button-text i {
    margin-left: 5px;
}
.button-text a {
    text-decoration: none;
    color: #E02C6DDE;
}
.button-text {
    width: 85%;
    text-align: end;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    ;
}

/*----------- main aria end-------- */ 
.extara {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 50px;

}
.md-img-aria img {
    height: 250px;
    width: 450px;
    margin-top: 30px;
    border-radius: 7px;
    margin-right: 20px;
}
.md-text-aria a {
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 25px;
    color: white;
}
.md-text-aria {
    font-family: 'Poppins';
    margin-left: 20px;
}
.md-text-aria h1 {
    font-size: 38px;
    color:  #0A0826;
}
.md-text-aria p {
    font-size: #6C6C6C;
}
/*------------ add footer teg :start------------ */
.footer-star {
    margin-top: 50px;
    text-align: center;
    line-height: 20px;
    background-color:  #150b3b;
    height: 120px;
    padding: 30px;
}
.footer-start h1 {
    font-family: 'Poppins';
    font-size: 24px;
    color: #FFFFFF;
}
.footer-start h2 {
    font-family: 'Manrope';
    font-size: 14px;
    color: #D9DBE1;
}
.footer-end a {
    margin: 5px;
    color: #FFFFFF;
}
/*------------ add footer teg :end------------ */




/*----------- we do responsive start----------------- */

@media only screen and (max-width: 832px){
    .main{
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media only screen and (max-width:768px){
    .extara{
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 668px){
    .head {
        justify-content: center;
    }
    .new-2 {
        display: none;
    }
    .main > .text-aria > h1 {
        font-size: 25px;
    }
    .main > .text-aria {
        text-align: center;
        width: 90%;
    }
    .md-text-aria {
        font-size: 12px;
        text-align: center;
        width: 90%;
    }
    .md-text-aria > h1 {
        font-size: 18px;
    }
    .md-img-aria > img {
        height: 250px;
        width: 350px;
        margin: auto;
    }
    .photo-aria > img {
        height: 300px;
        width: 350px;
        margin: auto;
    }
}
