body{
    width: 80%;
    margin: auto;
}
/* header aria start */
.head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.new-2 a{
    text-decoration: none;
    margin-right: 10px;
    color: gray;
    font-weight: 700;
}
.main{
    display: flex;
    justify-content: space-between;
}
.text-aria{
    width: 50%;
    padding-top: 30px;
    color: rgba(43, 38, 38, 0.726);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.text-aria h1{
    font-size: 42px;
    font-weight: 800;
}
.text-aria button{
    background-color: #dd1177da;
    padding: 8px 25px;
    border-radius: 15px;
    font-weight: 700;
    color: white;

}
.text-aria button img{
    height: 15px;
    margin-left: 5px;
}
.add-logo img{
    padding: 10px 20px;
    margin-left: 20px;
}
.logo-photo hr{
    color: rgb(15, 122, 228);
}
.logo-photo{
    margin-top: 80px;
}
/* header aria end  */