body{
}
/* ------------header aria start-------------------- */
.header {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.new-2 a{
    text-decoration: none;
    margin-right: 20px;
    color: gray;
    font-weight: 700;
}
.new-2 a>i{
    color: rgb(112, 253, 211);
    font-size: 20px;
}
.main{
    display: flex;
    justify-content: space-between;
}
.text-aria{
    width: 50%;
    padding-top: 30px;
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.text-aria h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
}
.text-aria button{
    background-color: rgb(224, 44, 109);
    padding: 8px 25px;
    border-radius: 15px;
    color: white;
}
.text-aria button i{
    color: white;
    margin-left: 5px;
}
.new-2 {
    margin-top: 20px;
}
.add-logo {
    text-align: center;
}
.add-logo img {
    margin: 25px 30px;
}
.logo-photo hr{
    color: rgba(19, 41, 63, 0.356);
}
.logo-photo{
    margin-top: 80px;
}
/*------------------------- header aria end ------------------------ */
/*--------------- main aria start-------------- */
.main-aria h1{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    font-family: 'Inter';
    border-radius: 5px;
}
.contaner {
    padding: 10px;
}
.contant-text h2 {
    font-size: 30px;
}
.contant-text {
    padding: 10px;
}
.prize {
    font-size: 24px;
}
.fa-star.filled{
    color: orange;
}
.fa-star.empty{
    color: gray;
}
.fa-star {
    font-size: 12px;
}
.main-website{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}
.button-text button {
    padding: 10px 20px;
    position: absolute;
    right: 5px;
}
.button-text i {
    margin-left: 5px;
}
.button-text a {
    text-decoration: none;
    color: #E02C6DDE;
}
.button-text {
    width: 85%;
    text-align: end;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    ;
}

/*----------- main aria end-------- */ 
